.wrapper{
	color: white;
	display: grid;
	grid-template-columns:repeat(3,1fr);
	grid-template-row: 1fr 2fr 1fr;
	gap: 30px 50px
}

.item1
{
	margin: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 250px;
}	

.item1 h2{
	text-align: center;
	margin: 0px;
	margin-top:26px;
}

.item1 p{
	text-align: center;
}



.circle_item{
	width: 60px;
	height: 60px;
	background-color: rgba(92, 96, 244);
	border: none;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}